<ion-content class="padding">
    <p>Main</p>
    <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
            <img ng-src="{{ card.url }}">
        </td-card>
    </td-cards>
    <div class="panel-body">
        <input class="bottom-marg-15 ng-isolate-scope" type="file" name="file" file>
        <!-- Progress Bar -->
        <div class="progress">
            <div class="progress-bar ng-binding" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" >
            </div>
        </div>
        <button class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</button>
    </div>
</ion-content>