<ion-content scroll="false" drag-content="false">
    <i class="icon ion-ios-camera-outline main-camera" on-tap="takePicture()"></i>
    <i class="icon ion-navicon main-settings"></i>
    <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed('$index')"  on-swipe-left="cardSwipedLeft($index,card.id)" on-swipe-right="cardSwipedRight($index,card.id)">
            <div class="no-text">NOPE</div>
            <img ng-src="{{ card.url }}">
            <div class="comment">
                <p align="center">{{ card.comment }}</p>
            </div>
            <div class="score">
                <p align="center" id="score-{{ card.id }}" class="odometer">{{ card.score }}</p>
            </div>
            <div class="yes-text">LIKE</div>
        </td-card>
    </td-cards>

    </br>
    <br/>
    <button style="width: 75%;"ng-click="open()"></button>
    <br/>
    <br/>

</ion-content>


<script type="text/ng-template" id="firstDialog">
    <div class="ngdialog-message">
        <h2>Native Angular.js solution</h2>
        <div>With ngDialog you don't need jQuery or Bootstrap to create dialogs for <code>ng-app:</code></div>
        <ul class="mt">
            <li>Use it in controllers, factories or directives</li>
            <li>Create your own directives</li>
            <li>Style all UI and templates</li>
            <li>Configure themes</li>
            <li>Add animations and effects</li>
        </ul>
        <div class="mt">Module is shipped with both <code>ngDialog</code> service and default directive.</div>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">►</button>
    </div>
</script>