<ion-content scroll="false">
    <i class="icon ion-ios-camera-outline main-camera" on-tap="takePicture()"></i>
    <i class="icon ion-navicon main-settings"></i>
    <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed('nope')"  on-swipe-left="cardSwipedLeft( card.id )" on-swipe-right="cardSwipedRight(card.id)">
            <div class="no-text">NOPE</div>
            <img ng-src="{{ card.url }}">
            <div class="comment">
                <p align="center">{{ card.comment }}</p>
            </div>
            <div class="score">
                <p align="center" id="score-{{ card.id }}" class="odometer">{{ card.score }}</p>
            </div>
            <div class="yes-text">LIKE</div>
        </td-card>
    </td-cards>
</ion-content>