/***
    Common
***/

body{
    background-color: black;
}

.width-100{
    width: 100%;
}

.margin-top-17{
    margin-top: 17%;
}

.full-screen-image{
    height:100%;
    width: 100%;
    background-size: cover;
}

.full-screen-image-refresh{
    height:100%;
    width: 100%;
    background: url('/img/buffalo_refresh.png') no-repeat center center fixed;
    background-size: cover;
}

/***
    Cartes Tinder Like
***/

.yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0;
}
.no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

/***
    Side Menu
***/

.ion-item-custom{
    border-color: #454A66;
}

.main-side_menu{
    background-color: #363951;
}

.main-side_menu p{
    color: white;
    font-weight: 600;
}

.main-side_menu #score-title{
    font-size: 34px;
    margin-top: 4%;
}

.main-side_menu #score-number{
    font-size: 23px;
    margin-top: 5%;
}

.main-side_menu-image{
    height: 128px;
    width: 128px;
    margin-top: 8%;
}

.main-side_menu #menu-inviterAmis a{
    background-color: #303348;
    color: white;
    font-weight: 600;
}

.main-side_menu #menu-inviterAmis{
    background-color: #303348;
    color: white;
    font-weight: 600;
}

/***
    Main
***/

.main-btn_menu{
    position: absolute;
    z-index: 10;

    height: 30px;
    width: 30px;

    top: 3%;
    left: 2.5%;
}

.main-black_overlay{
    position: absolute;
    height: 12%;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.main-btn_takePhoto{
    position: absolute;
    height: 10%;
    bottom: 1.1%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 20;
}

.main-btn_nope{
    position: absolute;
    bottom: 3%;
    height: 5%;
    left: 21%;
    z-index: 20;
}

.main-btn_like{
    position: absolute;
    bottom: 3%;
    height: 5%;
    right: 21%;
    z-index: 20;
}

/***
    Comment
***/

.comment-btn_close{
    position: absolute;

    z-index: 10;

    height: 30px;
    width: 30px;

    top: 3%;
    left: 2.5%;
}

.comment-btn_send{
    position: absolute;

    z-index: 10;

    height: 30px;
    width: 30px;

    top: 3%;
    right: 2.5%;
}